<a href="https://colab.research.google.com/github/Mikikn/data-science-portfolio/blob/main/project_gender_gap_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

!pip install powerbiclient
from powerbiclient import Report, models
from powerbiclient.authentication import DeviceCodeLoginAuthentication
import pandas as pd

In [75]:
import pandas as pd

In [76]:
import pandas as pd

file_urls = [
    "https://gender-pay-gap.service.gov.uk/viewing/download-data/2017",
    "https://gender-pay-gap.service.gov.uk/viewing/download-data/2018",
    "https://gender-pay-gap.service.gov.uk/viewing/download-data/2019",
    "https://gender-pay-gap.service.gov.uk/viewing/download-data/2020",
    "https://gender-pay-gap.service.gov.uk/viewing/download-data/2021",
    "https://gender-pay-gap.service.gov.uk/viewing/download-data/2022",
    "https://gender-pay-gap.service.gov.uk/viewing/download-data/2023"
]

# Initialize an empty list to hold DataFrames
dfs = []

# Load and process each CSV file
for url in file_urls:
    # Load CSV
    df = pd.read_csv(url)

    # Extract the year from the URL
    year = int(url.split("/")[-1])

    # Add a 'Year' column with the extracted year
    df['Year'] = year

    # Append the DataFrame to the list
    dfs.append(df)

# Concatenate all DataFrames
combined_data = pd.concat(dfs, ignore_index=True)

In [77]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59483 entries, 0 to 59482
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   EmployerName               59483 non-null  object
 1   EmployerId                 59483 non-null  int64
 2   Address                    59424 non-null  object
 3   PostCode                   59252 non-null  object
 4   CompanyNumber              51658 non-null  object
 5   SicCodes                   55753 non-null  object
 6   DiffMeanHourlyPercent      59483 non-null  float64
 7   DiffMedianHourlyPercent    59483 non-null  float64
 8   DiffMeanBonusPercent       47849 non-null  float64
 9   DiffMedianBonusPercent     47847 non-null  float64
 10  MaleBonusPercent           59483 non-null  float64
 11  FemaleBonusPercent         59483 non-null  float64
 12  MaleLowerQuartile          59089 non-null  float64
 13  FemaleLowerQuartile        59089 non-null  float64
 14  MaleLowerMiddleQuartile    59089 non-null  float64
 15  FemaleLowerMiddleQuartile  59089 non-null  float64
 16  MaleUpperMiddleQuartile    59089 non-null  float64
 17  FemaleUpperMiddleQuartile  59089 non-null  float64
 18  MaleTopQuartile            59089 non-null  float64
 19  FemaleTopQuartile          59089 non-null  float64
 20  CompanyLinkToGPGInfo       39520 non-null  object
 21  ResponsiblePerson          49290 non-null  object
 22  EmployerSize               59483 non-null  object
 23  CurrentName                59483 non-null  object
 24  SubmittedAfterTheDeadline  59483 non-null  bool
 25  DueDate                    59483 non-null  object
 26  DateSubmitted              59483 non-null  object
 27  Year                       59483 non-null  int64
dtypes: bool(1), float64(14), int64(2), object(11)
memory usage: 12.3+ MB

In [78]:
combined_data

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Year
0,"""Bryanston School"",Incorporated",676,"Bryanston House, Blandford, Dorset, DT11 0PX",DT11 0PX,00226143,85310,18.0,28.2,0.0,0.0,...,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,BRYANSTON SCHOOL INCORPORATED,False,2018/04/05 00:00:00,2018/03/27 11:42:49,2017
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED",16879,"19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",EH6 8NU,SC016876,47730,2.3,-2.7,15.0,37.5,...,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,2018/04/05 00:00:00,2018/03/28 16:44:25,2017
2,123 EMPLOYEES LTD,17677,"34 Roundhay Road, Leeds, England, LS7 1AB",LS7 1AB,10530651,78300,41.0,36.0,-69.8,-157.2,...,23.0,77.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,2018/04/05 00:00:00,2018/05/04 11:24:06,2017
3,1610 LIMITED,682,"Trinity Sports And Leisure, Chilton Street, Br...",TA6 3JA,06727055,93110,-22.0,-34.0,-47.0,-67.0,...,24.0,76.0,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,2018/04/05 00:00:00,2018/04/12 17:03:26,2017
4,1879 EVENTS MANAGEMENT LIMITED,17101,"The Sunderland Stadium Of Light, Sunderland, T...",SR5 1SU,07743495,"56210,\n70229",13.4,8.1,41.4,43.7,...,58.2,41.8,https://www.safc.com/news/club-news/2018/march...,Jo Graham (Deputy HR Manager),250 to 499,1879 EVENTS MANAGEMENT LIMITED,False,2018/04/05 00:00:00,2018/03/29 15:32:33,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59478,YMCA ROBIN HOOD GROUP,22533,"16 St. James's Street, Nottingham, England, NG...",NG1 6FG,00310342,"86900,\n87900,\n88910,\n96090",-4.8,6.4,-532.6,-50.0,...,39.0,61.0,NaN,Craig Berens (Group Chief Executive Officer),250 to 499,YMCA ROBIN HOOD GROUP,False,2024/04/05 00:00:00,2023/06/20 12:39:47,2023
59479,York Teaching Hospital Nhs Foundation Trust,14029,"Wigginton Road, York, North Yorkshire, YO31 8HE",YO31 8HE,NaN,"1,\n86210",26.9,7.4,32.5,50.0,...,33.0,67.0,NaN,NaN,"5000 to 19,999",York Teaching Hospital Nhs Foundation Trust,False,2024/03/31 00:00:00,2023/10/10 09:41:54,2023
59480,ZANDRA RETAIL LIMITED,21420,"61 Hydepark Street, Glasgow, Scotland, G3 8BW",G3 8BW,SC661467,47710,49.0,16.0,77.0,93.0,...,19.0,81.0,NaN,Gerard Sweeney (CFO),500 to 999,ZANDRA RETAIL LIMITED,False,2024/04/05 00:00:00,2023/04/05 16:24:01,2023
59481,ZURICH EMPLOYMENT SERVICES LIMITED,14076,"Unity Place, 1 Carfax Close, Swindon, Wiltshir...",SN1 1AP,00243883,"78300,\n82990",29.3,28.4,59.3,41.2,...,65.2,34.8,https://www.zurich.co.uk/sustainability/divers...,Steve Collinson (Head of People Team),1000 to 4999,ZURICH EMPLOYMENT SERVICES LIMITED,False,2024/04/05 00:00:00,2023/10/11 07:40:47,2023
59482,ZURICH UK GENERAL SERVICES LIMITED,14078,"The Zurich Centre 3000 Parkway, Whiteley, Fare...",PO15 7JZ,03843124,82990,14.0,13.2,39.5,14.2,...,64.7,35.3,https://www.zurich.co.uk/sustainability/divers...,Steve Collinson (Head of People Team),1000 to 4999,ZURICH UK GENERAL SERVICES LIMITED,False,2024/04/05 00:00:00,2023/10/11 07:45:37,2023

In [79]:
# Assuming combined_data is your DataFrame with the gender pay gap data
# Extract postcode area from PostCode column
combined_data['PostcodeArea'] = combined_data['PostCode'].str.extract(r'^([A-Z]{1,2})', expand=False)

# Load the CSV with postcode area mappings using a different encoding
postcode_area_mapping = pd.read_csv('/content/drive/MyDrive/Postcode outers  starter file.csv', encoding='latin1')

# Create a dictionary mapping postcode areas to regions
postcode_area_to_region = dict(zip(postcode_area_mapping['Postcode area'], postcode_area_mapping['Country']))

# Map postcode areas to regions
combined_data['Region'] = combined_data['PostcodeArea'].map(postcode_area_to_region)

In [80]:
postcode_area_mapping

    Postcode area Postcode area name   Country
0              AB           Aberdeen  Scotland
1              AL          St Albans   England
2               B         Birmingham   England
3              BA               Bath   England
4              BB          Blackburn   England
..            ...                ...       ...
116            WR          Worcester   England
117            WS            Walsall   England
118            WV      Wolverhampton   England
119            YO               York   England
120            ZE  Lerwick / Zetland  Scotland

[121 rows x 3 columns]

In [88]:
combined_data.head(5)

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Year,PostcodeArea,Region
0,"""Bryanston School"",Incorporated",676,"Bryanston House, Blandford, Dorset, DT11 0PX",DT11 0PX,00226143,85310,18.0,28.2,0.0,0.0,...,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,BRYANSTON SCHOOL INCORPORATED,False,2018/04/05 00:00:00,2018/03/27 11:42:49,2017,DT,England
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED",16879,"19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",EH6 8NU,SC016876,47730,2.3,-2.7,15.0,37.5,...,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,2018/04/05 00:00:00,2018/03/28 16:44:25,2017,EH,Scotland
2,123 EMPLOYEES LTD,17677,"34 Roundhay Road, Leeds, England, LS7 1AB",LS7 1AB,10530651,78300,41.0,36.0,-69.8,-157.2,...,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,2018/04/05 00:00:00,2018/05/04 11:24:06,2017,LS,England
3,1610 LIMITED,682,"Trinity Sports And Leisure, Chilton Street, Br...",TA6 3JA,06727055,93110,-22.0,-34.0,-47.0,-67.0,...,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,2018/04/05 00:00:00,2018/04/12 17:03:26,2017,TA,England
4,1879 EVENTS MANAGEMENT LIMITED,17101,"The Sunderland Stadium Of Light, Sunderland, T...",SR5 1SU,07743495,"56210,\n70229",13.4,8.1,41.4,43.7,...,https://www.safc.com/news/club-news/2018/march...,Jo Graham (Deputy HR Manager),250 to 499,1879 EVENTS MANAGEMENT LIMITED,False,2018/04/05 00:00:00,2018/03/29 15:32:33,2017,SR,England

In [89]:
# Assuming you have a column 'SicCodes' that contains the SIC codes
finance_sic_codes = ['64191']  # Add relevant SIC codes
combined_data = combined_data[combined_data['SicCodes'].isin(finance_sic_codes)]

In [90]:
combined_data

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Year,PostcodeArea,Region
247,AIB GROUP (UK) P.L.C.,15495,"92 Ann Street, Belfast, BT1 3HH",BT1 3HH,NI018800,64191,29.70,15.20,NaN,NaN,...,https://aibgb.co.uk/help-and-guidance/importan...,"Brendan O'Connor (Managing Director, AIB Group...",1000 to 4999,AIB GROUP (UK) P.L.C.,True,2018/04/05 00:00:00,2023/03/28 09:12:08,2017,BT,Northern Ireland
291,Aldermore Bank PLC,1088,"Apex Plaza, Forbury Road, Reading, RG1 1AX",RG1 1AX,00947662,64191,29.90,35.70,43.70,37.60,...,https://www.aldermore.co.uk/media/4139/aldermo...,Rob Divall (Group HR Director),500 to 999,ALDERMORE BANK PLC,False,2018/04/05 00:00:00,2018/01/09 13:52:31,2017,RG,England
641,ATOM BANK PLC,16167,"The Rivergreen Centre, Aykley Heads, Durham, E...",DH1 5TS,08632552,64191,28.80,31.60,37.90,21.10,...,https://www.atombank.co.uk/careers,Mark Mullen (CEO),250 to 499,ATOM BANK PLC,False,2018/04/05 00:00:00,2018/03/14 14:24:42,2017,DH,England
788,BANK OF AMERICA MERRILL LYNCH INTERNATIONAL LI...,1783,"2 King Edward Street, London, EC1A 1HQ",EC1A 1HQ,01009248,64191,17.10,20.80,38.80,17.40,...,https://about.bankofamerica.com/en-us/what-gui...,Jennifer Becker (Head of International Human R...,1000 to 4999,BANK OF AMERICA MERRILL LYNCH INTERNATIONAL LI...,False,2018/04/05 00:00:00,2018/03/27 09:41:26,2017,EC,England
790,BANK OF CHINA (UK) LIMITED,1784,"1 Lothbury, London, EC2R 7DB",EC2R 7DB,06193060,64191,26.90,27.20,30.90,19.20,...,http://www.bankofchina.com/uk/aboutus/ab5/2018...,Yu Sun (Chief Executive and Executive Director),250 to 499,BANK OF CHINA (UK) LIMITED,False,2018/04/05 00:00:00,2018/04/04 10:18:11,2017,EC,England
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58136,TRIODOS BANK UK LIMITED,22148,"Triodos Bank, Deanery Road, Bristol, United Ki...",BS1 5AS,11379025,64191,16.90,22.50,NaN,NaN,...,https://www.triodos.co.uk/articles/2023/triodo...,Bevis Watts (Chief Executive Officer),250 to 499,TRIODOS BANK UK LIMITED,False,2023/04/05 00:00:00,2023/03/30 15:16:05,2022,BS,England
58167,TSB BANK PLC,355,"Henry Duncan House, 120 George Street, Edinbur...",EH2 4LH,SC095237,64191,29.50,23.70,47.40,27.70,...,https://www.tsb.co.uk/media-centre/insights-an...,Declan Hourican (Chief Financial Officer),"5000 to 19,999",TSB BANK PLC,False,2023/04/05 00:00:00,2023/03/02 14:53:46,2022,EH,Scotland
58294,UNITED TRUST BANK LIMITED,21256,"28th Floor, One Ropemaker Street, London, EC2Y...",EC2Y 9AW,00549690,64191,34.00,31.00,82.00,42.00,...,https://www.utbank.co.uk/about-utb/gender-pay-...,Harley Kagan (Chief Executive),250 to 499,UNITED TRUST BANK LIMITED,False,2023/04/05 00:00:00,2023/04/03 16:37:45,2022,EC,England
58428,VANQUIS BANK LIMITED,13245,"No. 1 Godwin Street, Bradford, West Yorkshire,...",BD1 2SU,02558509,64191,29.30,35.00,49.20,47.00,...,https://www.vanquisbankinggroup.com/sustainabi...,Malcolm Le May (Managing Director),1000 to 4999,VANQUIS BANK LIMITED,False,2023/04/05 00:00:00,2023/04/05 12:46:00,2022,BD,England
59088,ZOPA BANK LIMITED,20751,"1st Floor Cottons Centre, 47-49 Tooley Street,...",SE1 2QG,10627575,64191,25.47,36.54,32.97,39.51,...,https://www.zopa.com/blog/article/diversity-at...,Olivia Urinov (People Services Director),500 to 999,ZOPA BANK LIMITED,False,2023/04/05 00:00:00,2023/03/01 16:29:41,2022,SE,England

In [ ]:
device_auth = DeviceCodeLoginAuthentication()

In [ ]:
from powerbiclient.dataflows import DataflowClient

In [ ]:
dataflow_id = "<your_dataflow_id>"
client = DataflowClient(device_auth)

dataflow = client.get_dataflow(dataflow_id)
entities = dataflow.get_entities()

In [ ]:
group_id="73381072-b5c3-495a-a1b7-63b13bcd1087" #YOU HAVE TO PUT HERE YOUR POWER BI GROUP ID OR WORKSPACE ID
report_id="ccbf2a26-df15-48e1-aee8-eb87d773fc7a" #YOU HAVE TO PUT HERE YOUR POWER BI REPORT ID

report = Report(group_id=group_id, report_id=report_id, auth=device_auth)
report.set_size(1024, 1600)
output.enable_custom_widget_manager()

In [ ]:
import pandas as pd

url = 'https://drive.google.com/file/d/10eWhPFRQ1J6ztEWbjTQjtInGYu94iVXn/view?usp=sharing'
df = pd.read_csv(url)

In [ ]:
df

In [ ]:
# Initialize an empty list to hold DataFrames
dfs = []

# Load and process each CSV file
for file_path in file_paths:
    # Load CSV
    df = pd.read_csv(file_path + ".csv")  # Add .csv to the URL



# Concatenate all DataFrames
combined_data = pd.concat(dfs, ignore_index=True)